{
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:prettier/recommended", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "crlf"
      }
    ]
  },
  "plugins": ["react", "prettier"]
}
